/* Fichier CSS des styles globaux du projet pour l'interface visiteur */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Reset CSS */
* {
    font-family: 'Nunito', Calibri, 'Segoe UI', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Container */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */
.btn {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: none;
}

.btn-accent {
    background-color: #FF69B4;
    color: white;
}

.btn-accent:hover {
    background-color: rgba(255, 105, 180, 0.9);
    color: white;
}


/* Styles de la page Accueil */
/* Bannière Accueil avec sliders */
.banner{
    background-color: rgba(255, 105, 180, 0.2);
}

.slider-container {
    width: 100%;
    height: 450px;
    /* background-color: #F0F8FF; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 500%;
    transition: transform 1s ease-in-out;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
}

.slider-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active {
    background-color: #1E90FF;
}

/* Section Presentation */
.presentation {
    padding: 40px;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.2);
}
.presentation h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.presentation hr {
    width: 250px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 40px;
}
.presentation p {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

/* Mot de la présidente */
.presidente {
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.2);
}
.presidente h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.presidente hr {
    width: 250px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
}
.presidente-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.presidente img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.presidente-text {
    text-align: left;
    margin-left: 18px;
    color: #333;
    font-size: 20px;
}

.nom {
    font-weight: bold;
}

/* Section Valeurs */
.valeurs {
    padding: 40px;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.2);
}
.valeurs h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.valeurs hr {
    width: 150px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
}
.valeurs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
}
.valeur {
    width: 160px;
    height: 160px;
    background-color: #FF69B4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
}


/* Section Activités */
.activities {
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.2);
}
.activities h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.activities hr {
    width: 160px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 40px;
}
.activities-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}
.activity-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
}
.activity-card:hover {
    transform: translateY(-5px);
}
.activity-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.activity-card h3 {
    color: #1E90FF;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.activity-card p {
    color: #333;
    font-size: 1.15rem;
    line-height: 1.3;
    margin-bottom: 15px;
    margin: 25px 0;
}
.activity-card .btn-view {
    display: inline-block;
    background-color: #FF69B4;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.15rem;
    transition: background-color 0.3s ease;
}
.activity-card .btn-view:hover {
    background-color: #1E90FF;
}
.activities .btn-more {
    background-color: #1E90FF;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.activities .btn-more:hover {
    background-color: #FF69B4;
}

/* Section Projets */
.projects {
    padding: 40px;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.2);
}
.projects h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.projects hr {
    width: 150px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 40px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.project-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
    /* flex: 1 1 calc((100% - 3 * 30px) / 4); */
}
.project-card:hover {
    transform: translateY(-5px);
}
.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.project-card h3 {
    color: #1E90FF;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.project-card p {
    color: #333;
    font-size: 1.15rem;
    line-height: 1.3;
    margin-bottom: 15px;
    margin: 25px 0;
}
.project-card .btn-view {
    display: inline-block;
    background-color: #FF69B4;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.15rem;
    transition: background-color 0.3s ease;
}
.project-card .btn-view:hover {
    background-color: #1E90FF;
}
.projects .btn-more {
    background-color: #1E90FF;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.projects .btn-more:hover {
    background-color: #FF69B4;
}

/* Section Témoignages */
.testimonials {
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.2);
}
.testimonials h2 {
    color: #1E90FF;
    font-size: 36px;
    font-weight: 500;
}
.testimonials hr {
    width: 300px;
    height: 4px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 40px;
}
.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-bottom: 30px; */
    flex-wrap: wrap;
    align-items: stretch;
}
.testimonial-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    /* flex: 1 1 calc((100% - 3 * 30px) / 4); */
    box-sizing: border-box;
}
.testimonial-card:hover {
    transform: translateY(-5px);
}
.testimonial-card img {
    width: 100%;
    height: 180px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 15px;
}
.testimonial-card .name {
    color: #1E90FF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.testimonial-card .position {
    color: #FF69B4;
    font-size: 14px;
    margin-bottom: 10px;
}
.testimonial-card .company {
    color: #666;
    font-size: 12px;
    margin-bottom: 15px;
}
.testimonial-card .message {
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    font-style: italic;
}
.testimonial-card .rating {
    color: #FFD700;
    font-size: 16px;
}
.testimonial-card .rating i {
    margin-right: 2px;
}

/* Bouton d'appel à faire un don */
.don {
    padding: 40px;
    text-align: center;
}
.don button {
    background-color: #FF69B4;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.don button:hover {
    background-color: #1E90FF;
}



/* Styles de la page Activities */
.activities-page-wrapper {
  padding: 40px 15px;
  background: rgba(255, 105, 180, 0.2);
  text-align: center;
}

.activities-page-wrapper h2 {
  color: #1E90FF;
  font-size: 2rem;
  margin-bottom: 20px;
}

.activities-page-wrapper hr {
    width: 180px;
    height: 3px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 30px;
}

#categoryFilter {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

#categoryFilter:focus {
  border-color: #1E90FF;
}




/* Styles de la page Projects */
.projects-page-wrapper {
  padding: 40px 15px;
  background: rgba(255, 105, 180, 0.2);
  text-align: center;
}

.projects-page-wrapper h2 {
  color: #1E90FF;
  font-size: 2rem;
  margin-bottom: 20px;
}

.projects-page-wrapper hr {
    width: 180px;
    height: 3px;
    background-color: #FF69B4;
    border: none;
    margin: auto;
    margin-bottom: 30px;
}

/* Pagination de la page "Activities" et de la page "Projects" */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination .page {
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

.pagination .page:hover {
  background: #1E90FF;
  color: #fff;
}

.pagination .page.current {
  background: #1E90FF;
  color: #fff;
  border-color: #1E90FF;
  font-weight: bold;
}

/* Filtre de la page "Activities" et de la page "Projects" */
.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 40px;
}

.filter-container label {
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

#statusFilter {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

#statusFilter:focus {
  border-color: #1E90FF;
}




/* Styles de la page Contact */
/* Bannière Contact */
.contact-banner {
    background-color: rgba(30, 144, 255, 0.1);
    color: #1E90FF;
    position: relative;
    padding: 1rem 0 4rem;
    width: 100%;
}

.section-title {
    padding-bottom: 0.5rem;
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: #1E90FF;
}

.section-title::after {
    content: '';
    display: block;
    width: 18rem;
    height: 6px;
    background-color: #FF69B4;
    margin: 0 auto;
    margin-top: 20px;
}

.contact-banner h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -20px;
}

/* Conteneur principal */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 50px 0;
}

/* Coordonnées */
.contact-info {
    background: rgba(255, 105, 180, 0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px;
    height: 300px;
}

.contact-info h2 {
    position: relative;
    text-align: center;
    color: #FF69B4;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.contact-info h2::after {
    content: '';
    display: block;
    width: 14.5rem;
    height: 6px;
    background-color: #1E90FF;
    margin: 0 auto;
    margin-top: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.info-item i {
    font-size: 24px;
    color: #FF69B4;
}

/* Carte Google Maps */
.map-section{
    margin-top: -38rem;
    background-color: rgba(255, 105, 180, 0.2);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.map-section h2 {
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: #FF69B4;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.map-section h2::after{
    content: '';
    display: block;
    width: 14.5rem;
    height: 6px;
    background-color: #1E90FF;
    margin: 0 auto;
    margin-top: 10px;
}

.map-container {
    text-align: center;
    margin-top: 20px;
}

/* Formulaire de contact */
.contact-form-section {
    background-color: rgba(30, 144, 255, 0.2);
    height: 105.5%;
    padding: 2rem;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form-section h2 {
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: #1E90FF;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.contact-form-section h2::after{
    content: '';
    display: block;
    width: 20rem;
    height: 6px;
    background-color: #FF69B4;
    margin: 0 auto;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.btn-primary {
    background-color: #FF69B4;
    color: white;
    font-size: 1.2rem;
    display: block;
    width: 100%;
}

.btn-primary:hover {
    background-color: #1E90FF;
}